.movie-card {
  display: inline-block;
  width: 300px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  margin-top: 20px;
  margin-right: 20px;
  color: #bd93f9;	
  background-color: #44475a	;
}

.card-container {
  text-align: center;
}

.card-img {
  width: 180px;
  height: 240px;
}

.title {
  font-size: 20px;
  max-width: 30ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
